@use "palette";

.choropleth {
  margin-bottom: 3rem;
  position: relative;
}


#js_map svg {
  border: 1px solid palette.$neutral_7;;
  background: lighten(palette.$neutral_8, 3%);
}

#js_map_slider {
  width: 100%;
}

#js_map_legend {
  position: absolute;
  top: 10px;
  right: 10px;
  svg {
    background: palette.$neutral_9;
  }

  rect {
    stroke: palette.$neutral_3;
  }
}
