@use "palette";

#js_days_since_chart {
  margin-bottom: 5rem;
}

.line {
  fill: none;
  stroke: palette.$neutral_6;
  stroke-width: 2px;

  &.hover {
    stroke: palette.$neutral_1 !important;
  }
}

.circle.hover {
  fill: palette.$neutral_1 !important;
}

.legend_key {
  font-size: 1.4rem;
}
