@use "palette";

#js_days_since_chart {
  margin-bottom: 5rem;
}

.line {
  fill: none;
  stroke: palette.$neutral_6;
  stroke-width: 2px;

  &.highlight {
    stroke: palette.$neutral_1;
  }
}

.circle {
  fill: palette.$neutral_6;
  stroke: palette.$neutral_9;
  &.highlight {
    fill: palette.$neutral_1;
  }
}
