@use "palette";

#js_line_chart {
  svg {
    border: 1px solid palette.$neutral_7;
  }
}

.line {
  fill: none;
  stroke: palette.$neutral_6;
  stroke-width: 2px;

  &.hover {
    stroke: palette.$neutral_1 !important;
  }
}

.circle.hover {
  fill: palette.$neutral_1 !important;
}

.legend_key {
  font-size: 1.4rem;
}
