@use "palette";

.table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  width: 100%;
  font-size: 1.6rem;
}

.table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

th:before,
th:before {
  content: "";
  float: right;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/static/icons/descending.svg");
  opacity: 0.3;
}

th.ascending:before {
  background-image: url("/static/icons/ascending.svg");
}

th.descending:before,
th.ascending:before {
  opacity: 1;
}

th {
  cursor: pointer;
}

td.number {
  text-align: right;
}

.table td,
.table th {
  border-left: 1px solid #cbcbcb;/*  inner column border */
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible; /*to make ths where the title is really long work*/
  padding: 0.5em 1em; /* cell padding */
}

.table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: center;
  vertical-align: bottom;
}

/* nth-child selector for modern browsers */
.table tr:nth-child(2n) td {
  background-color: #f2f2f2;
}

/* BORDERED TABLES */
.table td {
  border-bottom: 1px solid #cbcbcb;
}
.table tbody > tr:last-child > td {
  border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.table td,
.table th {
  border-width: 0 0 1px 1px;
  border-bottom: 1px solid #cbcbcb;
}
.table tbody > tr:last-child > td {
  border-bottom-width: 0;
}

tr.highlight {
  font-weight: bold;
}
