@use "variables";
@use "palette";

html {
  font-family: variables.$paragraph_font_family;
  font-weight: 400;
  color: palette.$neutral_0;
  background: palette.$neutral_9;
  margin: 0;
  font-size: 62.5%;
}
