@use "palette";
@use "table";
@use "trend_chart";
@use "variables";
@use "choropleth";
@use "line_chart";
@use "location_selectors";

html {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  color: palette.$neutral_2;
  background: palette.$neutral_9;
  margin: 0;
  font-size: 62.5%;
}

body {
  max-width: 100rem;
  margin: 1rem auto 3rem;
  font-size: 1.8rem;
}

h1 {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 700;
  color: palette.$neutral_1;
  font-size: 4.8rem;
  line-height: 4.8rem;
}

h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: palette.$neutral_1;
}

.basic_button {
  border: 0;
  padding: 1.5rem;
  font-size: 1.8rem;
  border-radius: 5px;
  box-shadow: variables.$box_shadow;
  font-weight: 600;
}

svg text {
  font-size: 1.8rem;
}

section {
  margin-bottom: 5rem;
}

p {
  max-width: 85rem;
}


.definitions {
  margin-bottom: 2.4rem;
  h3 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
  }
}

@media (max-width: 1000px) {
  body {
    margin: 0 10px 3rem;
  }
}

@media (max-width: 500px) {
  svg text {
    font-size: 2.4rem;
  }
}

