attrs==19.3.0
boto3==1.12.31
botocore==1.15.31
certifi==2019.11.28
chalice==1.13.0
chardet==3.0.4
click==7.1.1
docutils==0.15.2
enum-compat==0.0.3
Flask==1.1.1
Frozen-Flask==0.15
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
jmespath==0.9.5
MarkupSafe==1.1.1
python-dateutil==2.8.1
requests==2.23.0
s3transfer==0.3.3
six==1.14.0
typing==3.6.4
urllib3==1.26.5
Werkzeug==1.0.0
