<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="@mattparrilla and @BrianHoldefehr">
  <meta name="description" content="{{ description }}"

  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="{{ url_prefix }}{{ url }}">
  <meta property="fb:app_id" content="1189898324735691">
  <meta property="og:type" content="website">

  <meta property="og:image" content="{{ social_img }}">
  <meta name="twitter:image" content="{{ social_img }}">

  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:card" content="{% if social_img %}summary_large_image{% else %}summary{% endif %}">


  <link rel="stylesheet" href="https://use.typekit.net/jiu1txb.css">

  <link href="{{ url_for('static', filename='css/style.css') }}?{{ timestamp }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}?{{ timestamp }}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162175067-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-162175067-1');
  </script>
</head>
<body>
  {% block content %}
  {% endblock %}
  <script src="{{ url_for('static', filename='js/main.js') }}?{{ timestamp }}"></script>
</body>
</html>
