{% extends "base.html" %}

{% block content %}
  <div>
    <a id="js_home" href="/">United States</a>
    <select name="state" id="js_select_state">
      <option value="">Choose State</option>
    </select>
    <select name="county" id="js_select_county">
      <option value="">Choose County</option>
    </select>
  </div>
  <h1>Coronavirus in the Counties</h1>
  <p>The story of COVID-19 is a story of trends. We've been told to practice
     social distancing in order to flatten the curve, but how are we doing?</p>
  {% include "choropleth.html" %}
  {% include "days_since_chart.html" %}
  {% include "trend_chart.html" %}
  {% include "table.html" %}
  <h2>Data Source</h2>
  <p>We're using the <a href="https://github.com/nytimes/covid-19-data">New York Times county-level data</a> for reporting this data. Thanks to the Times for making this information publicly available.</p>
  <h2>Who Made This</h2>
  <p>This website was made by <a href="https://twitter.com/mattparrilla">Matt Parrilla</a> and <a href="https://twitter.com/BrianHoldefehr">Brian Holdefehr</a>. We are neither epidemiologists nor statisticians.</p>
  {% endblock %}
