{% extends "base.html" %}

{% block content %}
  <div class="nav">
    <a id="js_home" href="/"><span id="home">United States</span></a>
    <select class="select_style" name="state" id="js_select_state">
      <option value="">Choose State</option>
    </select>
    <select class="select_style" name="county" id="js_select_county">
      <option value="">Choose County</option>
    </select>
  </div>
  <h1>Coronavirus in the Counties</h1>
  <p>We are all dependent on everyone in our communities to do everything possible to avoid catching and spreading COVID-19. Here, we attempt to visualize how well the places we all live are doing at preventing the virus from spreading.</p>
  <p id="js_ny_disclaimer">Disclaimer: New York City data is not broken out by county.</p>
  {% include "choropleth.html" %}
  {% include "line_chart.html" %}
  {% include "trend_chart.html" %}

  <div class="definitions">
    <h3>Data Definitions</h3>
    <ul>
      <li><strong>Growth Factor</strong> - Ratio of new cases from one day to the next.</li>
      <li><strong>Doubling Time</strong> - Number of days for case count to double at current rate.</li>
    </ul>
  </div>

  {% include "table.html" %}
  <section>
    <h2>Data Source</h2>
    <p>We're using the <a href="https://github.com/nytimes/covid-19-data">New York Times county-level data</a> for reporting this data. Thanks to the Times for making this information publicly available.</p>
  </section>
  <section>
    <h2>Data Methods</h2>
    <p>The code we used to process and present this data is publicly available: <a href="https://github.com/mattparrilla/chartingcovid">https://github.com/mattparrilla/chartingcovid</a>.</p>
    <h3>Modifications</h3>
    <p>We tried to keep the data as close to the source as we could, however, many counties had entries
      erroneously reporting the same or a decreasing case count for a given date. This is a <a href="https://github.com/nytimes/covid-19-data/issues/80">known issue</a> in the dataset.</p>
    <p>To account for these holes in the data, we used the growth rate (discussed below) to estimate the case count for days with zero new cases. We only did this for historical data and we only did it when we had good case data for adjacent dates.</p>
    <h3>Calculations</h3>
    <p>The original data included cases and deaths. We focused on cases and pulled some additional metrics out of that figure: new cases, growth factor, and doubling time.</p>
    <h4>New Cases</h4>
    <p>New cases is the difference in total cases between adjacent days.</p>
    <h4>Growth Factor</h4>
    <p>The <em>growth factor</em> is defined as the ratio of new cases in one day to the ratio of new cases the previous day. It
      is a useful metric for knowing where we are on "the curve". A growth factor greater than 1 implies we are still on
      the exponential portion of the curve, while a growth factor less than 1 implies new cases are slowing down.</p>
    <p>To provide a smoother, less noisy figure we averaged the growth factor for the previous 5 days.</p>
    <p><a href="https://www.3blue1brown.com/">3Blue1Brown</a> has an <a href="https://www.youtube.com/watch?v=Kas0tIxDvrg">excellent video explaining the importance of growth factor</a></p>
    <h4>Doubling Time</h4>
    <p>The doubling time of cases was calculated for every locale in the dataset for which we had sufficient data. It measures the days
      that it will take for the number of cases to double at the current growth rate.</p>
    <p>The <em>growth rate</em> used to calculate doubling time is the exponential growth rate (as opposed to the <em>growth factor</em>
      mentioned above).</p>
  </section>
  <section>
    <h2>Who Made This</h2>
    <p>This website was made by <a href="https://twitter.com/mattparrilla">Matt Parrilla</a> and <a href="https://twitter.com/BrianHoldefehr">Brian Holdefehr</a>. We're a couple of software guys who wanted to get a better idea for what was going on around us.</p>
  </section>
  {% endblock %}
