<table class="table">
  <thead id="js_thead">
    <tr>
      <th>State</th>
      <th>Cases</th>
      <th>Cases Per Capita</th>
      <th>3 Day Growth Rate</th>
    </tr>
  </thead>

  <tbody id="js_tbody">
    <tr>
      <td>1</td>
      <td>Honda</td>
      <td>Accord</td>
      <td>2009</td>
    </tr>

    <tr>
      <td>2</td>
      <td>Toyota</td>
      <td>Camry</td>
      <td>2012</td>
    </tr>

    <tr>
      <td>3</td>
      <td>Hyundai</td>
      <td>Elantra</td>
      <td>2010</td>
    </tr>
  </tbody>
</table>
