<div id="js_trend_chart">
  <div class="chart_info">
    <div id="js_chart_metric">Confirmed Cases</div>
    <div id="js_chart_metric_selector">
      <label>Metric:</label>
      <span data-metric="cases" class="active">Cases</span>
      <span data-metric="cases_per_capita">Cases Per Capita</span>
      <span data-metric="growth_factor">Growth Factor</span>
    </div>
    <div id="js_chart_scale_selector">
      <label>Scale:</label>
      <span data-scale="linear" class="active">Linear</span>
      <span data-scale="log">Logarithmic</span>
    </div>
  </div>
</div>
